*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

header {
    /* background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed; */
    /* background: url('https://dewis-market.web.app/negocios/img/bg4.png') no-repeat center center fixed; */
    background: url('../img/bg4.png') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

main{
    /* font-family: 'Spartan', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.navbar-toggler:hover{
    background-color: lightgray!important;
}

.navbar{
    padding: 0!important;
}

.navbar-toggler{
    margin-right: 10px;
}

.navbar-brand{
    padding: 0;
}

.navbar-brand img{
    width: 130px;
    height: 40px;
    margin: 10px 10px;
}

.navbar-nav .nav-item a{
    color: rgb(255, 255, 255)!important;
    /* text-transform: uppercase; */
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

#dropdown-menu-departamentos li a{
    color: white!important;
    /* text-transform: uppercase; */
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 1);
}

.dropdown-menu{
    padding: 0;
}

#imgUsuario{
    border-radius: 50%;
    margin-left: 10px;
    max-width: 50px;
    max-height: 50px;
}

.nameUserBar{
    width: 100%;
    height: 50px;
    /* position: absolute;
    bottom: 0; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: white;
}

.nameUserBar-left{
    justify-self: center;
}

.nameUserBar-right{
    justify-self: right;
}

#sidebar-collapse-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1021;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


@media (min-width: 420px) {

    .navbar-brand img{
        width: 130px;
        height: 40px;
        margin: 5px 5px;
    }

    .navbar-nav .nav-item a{
        color: white;
        
    }

    .card-principal{
        font-size: 20px;
    }

    .card-subtitle{
        font-size: 15px;

    }
}

@media (min-width: 720px) {
    .navbar{
        padding: 0!important;
    }

    .navbar-brand img{
        width: 200px;
        height: 60px;
        margin: 10px 10px;
    }

    .card-principal{
        font-size: 23px;
    }

    .card-subtitle{
        font-size: 20px;
    }

    .navbar-nav .nav-item a{
        color: white!important;
    }
}

@media (min-width: 992px) {
    .navbar{
        padding: 0!important;
    }

    .navbar-brand img{
        width: 200px;
        height: 60px;
        margin: 20px 20px;
    }

    .card-principal{
        font-size: 23px;
    }

    .card-subtitle{
        font-size: 20px;
    }

    .navbar-nav .nav-item a{
        color: white!important;
    }

    .navbar-nav{
        margin-left: 50%;
    }
}

  @media (min-width: 1200px) {
    .navbar{
        padding: 0!important;
    }

    .navbar-brand img{
        width: 140px;
        height: 45px;
        margin: 15px 15px;
    }

    .card-principal{
        font-size: 30px;
    }

    .card-subtitle{
        font-size: 25px;
    }

    .navbar-nav .nav-item a{
        color: white!important;
    }

    .navbar-nav{
        margin-left: 65%;
    }
}





