*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
body{
    background-color: transparent;
}

ul {
    list-style: none;
}

header {
    background: url('../img/bg4.png') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

main{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.titulo-seccion{
    font-size: 3rem;
}

.navbar-toggler:hover{
    background-color: lightgray!important;
}

.navbar{
    padding: 0!important;
}

.navbar-toggler{
    margin-right: 10px;
}

.navbar-brand{
    padding: 0;
}

.navbar-brand img{
    width: 130px;
    height: 40px;
    margin: 10px 10px;
}

.navbar-nav .nav-item a{
    color: rgb(255, 255, 255)!important;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

#dropdown-menu-departamentos li a{
    color: rgba(0, 0, 0, 0.8)!important;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, .5);
}

#dropdown-menu-departamentos li a:hover{
    color: rgb(255, 196, 0)!important;
}

.dropdown-menu{
    padding: 0;
}

#imgUsuario{
    border-radius: 50%;
    margin-left: 10px;
    max-width: 50px;
    max-height: 50px;
}

.nameUserBar{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: transparent;
}

.nameUserBar-left{
    justify-self: center;
    padding-top: 10px;
}

#sidebar-collapse-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1021;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  .expanded{
    width: 90%;
    }

    #navbarSupportedContent ul{
        align-items: center;
    }

    .carritoCardBody{
        min-height: 500px;
    }

    .nameUser{
        font-family: Arial, Helvetica, sans-serif;
        font-weight:lighter; 
        align-items: center; 
        font-size: 10px;
        display: none;
    }

    .imgCarrito{
        max-width: 60px;
        max-height: 60px;
        border-radius: 20%;
        box-shadow: 3px 3px 3px 2px black;
        padding: 5px;
        background-color: white;
    }

    .carrito-flotante{
        justify-self: right;
        position: fixed;
        bottom: 5%;
        right: 1%;
        z-index: 1;
    }

    .nameUserBar-right{
        display: flex;
        justify-self: right;
        align-content: center;
    }

    .search-icon{
        min-width: 30px;
        min-height: 30px;
        margin-right: 13px;
    }

    .search-input{
        min-width: 100px;
        margin-right: 17px;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        font-size: 20px;
    }

    .search-input-hidden{
        display: none;
    }

    .cardCarouselMasVendidos{
        width: 100%; 
        min-width: 100%;
    }

    .toastMsg{
        position: fixed;
        top: 125px;
        right: 0;
        min-width: 300px;
        z-index: 999
    }

    .navbar-nav li a{
        font-size: 25px;
    }