*{
    margin: 0;
    padding: 0;
}

/* ul {
    list-style: none;
} */

body {
    /* background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed; */
    /* background: url('https://dewis-market.web.app/negocios/img/bg4.png') no-repeat center center fixed; */
    background: url('../img/bg4.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

main{
font-family: 'Spartan', sans-serif;
font-weight: 200;
}

.navbar-toggler:hover{
    background-color: lightgray!important;
}

.navbar{
    padding: 0!important;
}

.navbar-toggler{
    margin-right: 10px;
}

.navbar-brand img{
    width: 130px;
    height: 40px;
    margin: 10px 10px;
}

.navbar-nav .nav-item a{
    color: rgb(255, 255, 255)!important;
    /* text-transform: uppercase; */
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

#dropdown-menu-departamentos li a{
    color: white!important;
    /* text-transform: uppercase; */
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.card-principal{
    font-size: 20px;
}

.card-subtitle{
    font-size: 15px;
}

.dropdown-menu{
    padding: 0;
    list-style: circle;
}

  @media (min-width: 420px) {
    

    .navbar-brand img{
        width: 130px;
        height: 40px;
        margin: 5px 5px;
    }

    .navbar-nav .nav-item a{
        color: white;
        
    }

    .card-principal{
        font-size: 20px;
    }

    .card-subtitle{
        font-size: 15px;
    
    }
}

@media (min-width: 720px) {
    .navbar{
        padding: 0!important;
    }

    .navbar-brand img{
        width: 200px;
        height: 60px;
        margin: 10px 10px;
    }

    .card-principal{
        font-size: 23px;
    }

    .card-subtitle{
        font-size: 20px;
    }

    .navbar-nav .nav-item a{
        color: white!important;
    }
}

@media (min-width: 992px) {
    .navbar{
        padding: 0!important;
    }

    .navbar-brand img{
        width: 200px;
        height: 60px;
        margin: 20px 20px;
    }

    .card-principal{
        font-size: 23px;
    }

    .card-subtitle{
        font-size: 20px;
    }

    .navbar-nav .nav-item a{
        color: white!important;
    }

    .navbar-nav{
        margin-left: 75%;
    }
}

  @media (min-width: 1200px) {
    .navbar{
        padding: 0!important;
    }

    .navbar-brand img{
        width: 250px;
        height: 80px;
        margin: 40px 40px;
    }

    .card-principal{
        font-size: 30px;
    }

    .card-subtitle{
        font-size: 25px;
    }

    .navbar-nav .nav-item a{
        color: white!important;
    }

    .navbar-nav{
        margin-left: 79%;
    }
}






