#nombreNegocio{
    font-size: 7px;
  }

  @media (min-width: 300px) {

    #logo{
      width: 150px;
      height: 55px;
    }
  
    #nombreNegocio{
      font-size: 7px;
    }
  
   }
   
   @media (min-width: 500px) {
  
    #logo{
      width: 160px;
      height: 60px;
    }
  
    #nombreNegocio{
      font-size: 8px;
    }
  
   }
  
   @media (min-width: 700px) {
  
    #logo{
      width: 170px;
      height: 62px;
    }
  
    #nombreNegocio{
      font-size: 10px;
    }
  
   }
  
   @media (min-width: 1000px) {
  
    #logo{
      width: 190px;
      height: 64px;
    }
  
   }
  
   @media (min-width: 1200px) {
  
    #logo{
      width: 210px;
      height: 68px;
    }
  
   }